@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
.btn_add{
    width: fit-content;
    margin-bottom: 20px;
    background-color: #2bc48a;
    padding: 5px 20px;
    color: #FFF;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;
    text-decoration: 0;
}
.btn_add img{
    margin-right: 5px;
    height: 20px;
}
/* Tableau */
table {
    border-collapse: collapse;
    color: #404040;
}
th{
    font-size: 16px;
    border-bottom: 3px solid #ffcb61;
    padding: 5px 20px;
    font-weight: 500;
}
td{
    font-weight: 400;
    padding: 5px 30px;
    font-size: 14px;
}
img{
    height: 25px;
}
tr:nth-child(2n){
    background-color: #F6F8F8;
}
tr:nth-child(2n) td{
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
}